Test/web/WEB-INF/wsdl/localhost_8080/TestWS/AdminWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="AdminWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/TestWS/AdminWS?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="create3">
<part name="parameters" element="tns:create3"/>
</message>
<message name="create3Response">
<part name="parameters" element="tns:create3Response"/>
</message>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="addwl">
<part name="parameters" element="tns:addwl"/>
</message>
<message name="addwlResponse">
<part name="parameters" element="tns:addwlResponse"/>
</message>
<message name="removewl">
<part name="parameters" element="tns:removewl"/>
</message>
<message name="removewlResponse">
<part name="parameters" element="tns:removewlResponse"/>
</message>
<portType name="AdminWS">
<operation name="update">
<input wsam:Action="http://webservice/AdminWS/updateRequest" message="tns:update"/>
<output wsam:Action="http://webservice/AdminWS/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://webservice/AdminWS/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://webservice/AdminWS/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="search">
<input wsam:Action="http://webservice/AdminWS/searchRequest" message="tns:search"/>
<output wsam:Action="http://webservice/AdminWS/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://webservice/AdminWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://webservice/AdminWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="create3">
<input wsam:Action="http://webservice/AdminWS/create3Request" message="tns:create3"/>
<output wsam:Action="http://webservice/AdminWS/create3Response" message="tns:create3Response"/>
</operation>
<operation name="checkLogin">
<input wsam:Action="http://webservice/AdminWS/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://webservice/AdminWS/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="addwl">
<input wsam:Action="http://webservice/AdminWS/addwlRequest" message="tns:addwl"/>
<output wsam:Action="http://webservice/AdminWS/addwlResponse" message="tns:addwlResponse"/>
</operation>
<operation name="removewl">
<input wsam:Action="http://webservice/AdminWS/removewlRequest" message="tns:removewl"/>
<output wsam:Action="http://webservice/AdminWS/removewlResponse" message="tns:removewlResponse"/>
</operation>
</portType>
<binding name="AdminWSPortBinding" type="tns:AdminWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addwl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removewl">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminWS">
<port name="AdminWSPort" binding="tns:AdminWSPortBinding">
<soap:address location="http://localhost:8080/TestWS/AdminWS"/>
</port>
</service>
</definitions>